.category {
    display: grid;
    grid-template-columns: 25vw 50vw;
}

.categoryBody {
    background-color: darkgoldenrod;
    margin-top: 1.7vh;
    height: 80vh;
    width: 70vw;
    overflow-y: scroll;
}

.categoryBody ul {
    list-style: none;
    padding: 0;
}

.subCategory {
    font-size: clamp(24px, 2vw, 36px);
    text-align: center;
    width: 100%;
    margin: auto;
}

.subCategory ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20%);
    column-gap: 2vw;
    row-gap: 2vh;
}

@media all and (max-width: 600px) {
    .subCategory ul {
        grid-template-columns: repeat(auto-fit, 45%);
    }
}

.subBody {
    text-align: left;
}

.product {
    font-size: clamp(16px, 1vw, 30px);
    width: 100%;
    background-color: white;
    margin-left: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: solid 3px black;
    border-radius: 16px;
    text-align: center;
}

.product:hover {
    transform: scale(1.05, 1.05);
    color: blue;
}

.productImage {
    padding: 1vw;
}

.productPrice {
    font-size: clamp(26px, 1vw, 46px);
}