.category {
    background-color: goldenrod;
    width: 50vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 32px;
    text-align: center;
    list-style: none;
    color: #690404;
}

.category ul {
    display: grid;
    grid-template-columns: 11.5vw 11.5vw 11.5vw 11.5vw;
    padding-bottom: 3vw;
}

.product {
    list-style: none;
    margin-bottom: 1vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    height: 8vw;
    background-size: cover;
    border: 3px solid darkgoldenrod;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

.category ul a {
    text-decoration: none;
}

.product:hover {
    transform: scale(1.05, 1.05);
}

.product_title {
    color: orange;
    font-size: 1.2vw;
    text-shadow: 2.5px 2.5px black;
    font-family: monospace;
    -webkit-text-stroke: 1px black;
}

.page_selector {
    width: 4vw;
    margin: auto;
    font-size: 4vw;
    color: orange;
}

.page_selector a:hover {
    color: darkgoldenrod;
}