.category {
    display: grid;
    grid-template-columns: 25vw 50vw;
}

.categoryBody {
    background-color: darkgoldenrod;
    margin-top: 1.7vh;
    height: 80vh;
    width: 70vw;
    overflow-y: scroll;
}

.categoryBody ul {
    list-style: none;
    padding: 0;
}

.subCategory {
    font-size: clamp(24px, 2vw, 36px);
    text-align: center;
    width: 100%;
    margin: auto;
}

.title {
    background-color: orangered;
    border: solid 1px black;
}

.subBody {
    border: solid 1px black;
    text-align: left;
}

.product {
    display: grid;
    grid-template-columns: 15vw 50vw;
    font-size: clamp(14px, 1vw, 24px);
    width: auto;
    word-wrap: break-word;
    margin-left: 0px;
    margin-bottom: 5vh;
}

.product:hover {
    color: blue;
}