.container {
    background-color: #14539A;
    border-radius: 32px;
    width: 80vw;
    margin: auto;
}

.email {
    display: grid;
    grid-template-columns: 10vw 30vw;
    margin-left: 5vw;
    height: 3vh;
    margin-bottom: 3vh;
}

.message {
    display: grid;
    grid-template-columns: 10vw 30vw;
    margin-left: 5vw;
}

.text {
    color: azure;
    font-size: 2vw;
}

.message_area {
    background-color: rgba(66, 66, 66, 0.33);
    border: none;
    height: 3vh;
    margin-top: 3vh;
    color: azure;
    font-size: 1.5vw;
    border: solid black 1px;
}

.message_area:focus {
    outline: none;
}

.message .message_area {
    height: 50vh;
    resize: none;
}

.submit {
    font-size: 3vw;
    height: 10vh;
    background-color: rgba(66, 66, 66, 0);
    border: none;
    color: yellowgreen;
    margin-left: 15vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: solid black 1px;
    width: 30vw;
}

.submit:hover {
    font-size: 5vw;
}

.hook {
    margin: auto;
    width: 50vw;
    text-align: center;
    color: azure;
    font-size: 3vw;
    text-shadow: 5px 5px #000000;
  }
