.navbar {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: clamp(100px, 50vw, 800px);
}

.nav {
  display: grid;
  grid-template-columns: 26.6667vw 26.6667vw 26.6667vw;
  text-align: center;
  margin-top: 3vh;
  border-bottom: solid orange;
  border-radius: 15px;
}

.nav a {
  color: orange;
  font-size: clamp(40px, 5vw, 100px);
  text-decoration: none;
}

.nav a:hover {
  transform: scale(1.05, 1.05);
}

.title {
  text-align: center;
  font-size: clamp(60px, 5vw, 90px);
  color: orange;
  text-shadow: 5px 5px #000000;
  margin-top: 0;
}

.hook {
  margin: auto;
  width: 50vw;
  text-align: center;
  color: azure;
  font-size: clamp(80px, 10vw, 300px);
  text-shadow: 5px 5px #000000;
  -webkit-text-stroke: 0.25vw orangered;
}

.goals {
  display: grid;
  grid-template-columns: 45vw 35vw;
  width: 80vw;
  margin: auto;
}

.goals section, .goals section img {
  width: 33vw;
  margin: 10vw;
  border-radius: 15px;
  background-size: contain;
}

.goals text {
  margin-top: 10vw;
  color: azure;
  font-size: clamp(30px, 5vw, 60px);
  text-shadow: 2px 2px #000000;
  width: 30vw;
}