.category {
    display: grid;
    grid-template-columns: 25vw 50vw;
}

.categoryBody {
    margin-top: 1.7vh;
    width: 70vw;
    border: solid 6px orangered;
    background-size: contain;
}

.title {
    text-align: center;
    font-size: clamp(16px, 5vw, 48px);
    color: orangered;
}

.images {
    border-top: solid 3px orange;
}

.images ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.images ul li {
    display: inline;
    margin-left: 0.5vw;
}

.images ul li button {
    border: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.productBody {
    font-size: clamp(12px, 5vw, 24px);
    color: azure;
    margin: 5%;
    margin-top: 2.5%;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin-bottom: 0;
}

.productWrapper {
    background-color: rgb(33, 33, 33, 0.75);
    backdrop-filter: blur(8px);
}

.addToCartWrapper {
    width: 100%;
    height: 5vh;
    position: relative;
    backdrop-filter: blur(8px);
    background-color: rgb(33, 33, 33, 0.75);
}

.addToCartWrapper a {
    left: 50%;
}