.categories {
    width: 25vw;
}

.categories ul{
    list-style: none;
    padding: 0;
    position: sticky;
    top: 0;
}

.category {
    margin: 0.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    text-align: center;
    margin-right: 1.5vw;
}

.category:link, .category:visited, .category:hover, .category:active {
    text-decoration: none;
}

.category:hover {
    transform: scale(1.05, 1.05);
}

.category span {
    font-size: clamp(26px, 3vw, 45px);
}

.noCategory {
    position: absolute;
    width: 30vw;
    margin-left: 35vw;
    text-align: center;
    font-size: clamp(40px, 8vw, 140px);
    text-shadow: 5px 5px #000000;
}

.noCategory span {
    color: azure;
}

.search {
    width: 80vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5vw;
    border-left: solid orange 5px;
    border-right: solid 10px orange;
}

.search input {
    width: 100%;
    background-color: rgb(22, 22, 22);
    border: none;
    font-size: clamp(26px, 3vw, 45px);
    color: azure;
}

.search input:focus {
    outline: none;
}

.categoriesWrapper {
    display: grid;
    grid-template-columns: 25vw 50vw;
}

.categoryBody {
    margin-top: 1.7vh;
    width: 70vw;
    border: solid 6px orangered;
    background-size: contain;
    border-radius: 32px;
}