.categories {
    width: 25vw;
}

.categories ul{
    list-style: none;
    padding: 0;
    position: sticky;
    top: 0;
}

.categories a {
    text-decoration: none;
}

.category {
    margin: 0.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    text-align: right;
    margin-right: 1.5vw;
}

.category:hover {
    transform: scale(1.05, 1.05);
}

.category text {
    font-size: clamp(25px, 3vw, 50px);
}

.category text:hover {
    color: darkgoldenrod;
}

.noCategory {
    position: absolute;
    width: 30vw;
    margin-left: 35vw;
    text-align: center;
    font-size: clamp(50px, 8vw, 150px);
    text-shadow: 5px 5px #000000;
}